doctype html
html(lang='en')
    head
        include _include/head
    body
        header
            h1 GoooD
            h2 Publish your mind
        main
            h3 Who we are?
            p Two folks that once decided to do good for free.
            h3 What we do?

            p We carefully arrange your ideas in written form and put them on the Internet with
                | all the care and quality, in 1 (one) hour, for 0 (zero) price.

        footer
