doctype html
html(lang='en')
    head
        include _include/head
    body
        header
            .logo GoooD
            hr
            .tagline Publish your mind
        main
            article
                dt Who we are?
                dd Two folks that once decided to do good for free.
                dt What we do?

                dd
                    p We carefully arrange your ideas in written form
                    p and put them on the Internet
                    p with all the care and quality
                    ul
                        li in 1 (one) hour
                        li for 0 (zero) price.

        footer
